<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <title><%= page.title %></title>
  </head>
  <body>

	<header>
		<h1>Spoilerhole</h1>
		<a href="/media">New media</a>
		<a href="/">Media list</a>
	</header>