<% page.title = 'New spoiler' %>

<% include ../layouts/header %>

<form method="POST" action="spoiler" class="container">
	<label for="spoiler-text">
		Spoiler: 
	</label>
	<textarea name="spoiler[text]" id="spoiler-text" class="form-control" rows="5"></textarea>
	<div>
		<input type="submit" value="Save" class="btn btn-primary"/>
	</div>
</form>

<% include ../layouts/footer %>