<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
  	<% if(medias) { %>
		<ul>
			<% for(var i=0; i < medias.length; i++) { %>
				<li>
          <a href="/media/<%= medias[i]._id %>">
            <%= medias[i].title %>
          </a>
        </li>
			<% } %>
		</ul>
  	<% } %>
  </body>
</html>