<% page.title = 'Spoilerhole' %>

<% include layouts/header %>

<main>
	<% if(medias) { %>
    <h3>Medias</h3>
		<ul>
			<% for(var i=0; i < medias.length; i++) { %>
				<li>
          <a href="/media/<%= medias[i]._id %>">
            <%= medias[i].title %>
          </a>
        </li>
			<% } %>
		</ul>
	<% } %>
</main> 

<% include layouts/footer %>