<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
  	<h1>Spoilers for <%= media.title %>:</h1>
    <ul>
      TODO: Put spoilers list for media here
    </ul>
  </body>
</html>